<h1>L'association</h1>

<p>
Le BordeauxJUG est une association loi 1901, créée en novembre 2009 et inscrite au registre de la ville de Bordeaux.
A ce titre, l'association est animée par un bureau élu tous les ans par les membres de l'association.
</p>

<h2>Le bureau</h2>

<p>
Les membres actuels du bureau sont :
</p>
<ul>
  <li>Lilian Benoit (Président)</li>
  <li>Fabrice Aupert (Trésorier)</li>
  <li>Reda Lyazidi (Secrétaire)</li>
  <li>Martine Bornerie</li>
  <li>Laurent Forêt</li>
  <li>Bruno Lacombe</li>
  <li>Benoît Prioux</li>
  <li>François Dussert</li>
</ul>

<p>
Le bureau a la charge d'organiser la vie de l'association, et notamment les réunions du groupe (trouver les speakers, organiser le buffet s'il y a lieu, réserver la salle, faire les annonces, affiche, ...).
</p>

<h2>Les membres</h2>

<p>
Le statut de membre de l'association est avant tout une forme de soutien à l'association, puisque la cotisation (5€ / an) permet de financer en partie les activités du JUG comme le buffet offert à l'issue de la plupart des séances.
</p>
<p>
Il donne également droit au vote pour l'élection du bureau (une fois par an, en décembre), ainsi qu'un accès prioritaire à certaines activités sur lesquelles le nombre est limité. Il permet aussi de bénéficier éventuellement de certains "goodies" offerts par les sponsors, et d'arborer le très convoité "membre officiel du BordeauxJUG" sur sa signature :-)
</p>
<p>
Il est important de noter cependant que ce statut de membre n'est aucunement obligatoire, les événements du BordeauxJUG sont <strong> gratuits et ouverts à tous</strong>.
</p>

<h2>Historique</h2>

<h3>Bureau 2015</h3>
<p>
Frédéric Camblor (Président), Lilian Benoit (Vice-Président), Fabrice Aupert (Trésorier), Reda Lyazidi (Secrétaire),
Martine Bornerie, Laurent Forêt, Bruno Lacombe, Benoît Prioux
</p>

<h3>Bureau 2014</h3>
<p>
Frédéric Camblor (Président), Fabrice Aupert (Trésorier), Lilian Benoit (Secrétaire),
Laurent Forêt, Benoît Prioux, Damien Riccio, Laurent Berteau, Vincent Van Steenberghen.
</p>

<h3>Bureau 2013</h3>
<p>
Frédéric Camblor (Président), Fabrice Aupert (Trésorier), Lorenzo Arcaini (Secrétaire),
Laurent Forêt, Jérôme Moussalli, Benoît Prioux, Damien Riccio
</p>

<h3>Bureau 2012</h3>
<p>
Xavier Hanin (Président), Fabrice Aupert (Trésorier), Lorenzo Arcaini (Secrétaire),
Laurent Forêt, Frédéric Camblor, Sébastien Blondy, Jérôme Moussalli
</p>

<h3>Bureau 2011</h3>
<p>
Xavier Hanin (Président), Fabrice Aupert (Trésorier), Grégory Kisling (Secrétaire),
Laurent Forêt, Bruno Hickel, Frédéric Camblor, Lorenzo Arcaini, Sébastien Blondy
</p>

<h3>Bureau 2010</h3>
<p>
Xavier Hanin (Président), Fabrice Aupert (Trésorier), Grégory Kisling (Secrétaire)
</p>
