<h1>Présentation du Bordeaux JUG</h1>

<p>
L'objectif du <strong>BORDEAUX Java User Group</strong> est de permettre à des acteurs et utilisateurs du langage Java (professionnels, communautés open source, universitaires, étudiants) de 
<strong>se rencontrer et d'échanger autour des technologies Java.</strong>
</p>

<p>
Des rencontres sont organisées <strong>tous les mois, en général le deuxième jeudi du mois</strong>, sous forme de réunions <strong>gratuites, ouvertes à tous</strong>. Les réunions prennent la forme :
</p>

<ul>
<li>de présentations techniques</li>
<li>de démonstrations produit</li>
<li>de séances de travaux pratiques</li>
<li>de tables rondes sur l'architecture, l'évolution de Java, l'actualité...</li>
<li>de retour d'expérience</li>
</ul>

<p>
La soirée se poursuit généralement par une discussion autour d'un verre et d'un buffet.
</p>

<h2>Où les rencontres se déroulent elles ?</h2>

<p>
Les rencontres ont en général lieu à l'<a href="http://www.enseirb-matmeca.fr/" target="_blank">ENSEIRB-MATMECA</a>.
</p>

<p>
L'adresse est la suivante :
</p>
<pre>
ENSEIRB, 1 Avenue du Docteur Albert Schweitzer, 33400 Talence
</pre>

<p>
Le plan ci-dessous récapitule l'accès et les endroits de stationnement autours de l'école :
</p>

<img src="assets/images/plan-enseirb.png">

<p>
ATTENTION : Durant le plan vigipirate, seule l'accès Est avec un badge est possible. Il vous faudra demander à un étudiant de vous ouvrir.
</p>