.container {
    display: flex;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 20px;
}

.content {
    flex: 1;
}

.sponsor {
  flex: 0.2;
}

.paypal {
    width: 200px;
    text-align: center;
    border: 1px;
    border-style: solid;
}
