<md-sidenav-layout>
  <md-sidenav #sidenav mode="side" class="app-sidenav" opened="true">
    <img src="assets/images/logo.jpg">

    <md-list>
      <md-list-item><a routerLink="/" routerLinkActive="active">Accueil</a></md-list-item>
      <md-list-item><a routerLink="/presentation" routerLinkActive="active">Presentation</a></md-list-item>
      <md-list-item><a routerLink="/meetings" routerLinkActive="active">Rencontres</a></md-list-item>
      <md-list-item><a routerLink="/speakers" routerLinkActive="active">Speakers</a></md-list-item>
      <md-list-item><a routerLink="/members" routerLinkActive="active">Membres</a></md-list-item>
      <md-list-item><a routerLink="/association" routerLinkActive="active">Association</a></md-list-item>
    </md-list>
    <br/>
    <div class="paypal">
    <app-paypal></app-paypal>
    </div>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      &#9776;
    </button> Bordeaux JUG

  </md-toolbar>

  <div class="container">
    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <div class="Sponsor">
      <div *ngFor="let sponsor of sponsors">
        <a href="{{sponsor.url}}" target="_blank"><img width="160" src="{{sponsor.image}}" alt={{sponsor.name}}></a>
        <br/><br/>
      </div>
    </div>

  </div>

</md-sidenav-layout>