/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.logo { float:right; }

/* https://wdexplorer.com/20-examples-beautiful-css-typography-design/ */
h1 { color: #333333; font-family: 'Bitter', serif; font-size: 40px; font-weight: normal; line-height: 30px; margin: 0 0 44px; }

li { color: #333333; font-family: Georgia, serif; font-size: 18px; line-height: 18px; margin: 0 0 18px; }

p { color: #333333; font-family: Georgia, serif; font-size: 18px; line-height: 28px; margin: 0 0 18px; }

a { color: #c73036; font-family: Georgia, serif; text-decoration: underline; }

a:hover { color: #333333; text-decoration: underline; }
