<div class="Grid">
  <div class="Grid-cell">

    <h1>Bienvenue</h1>

    <p>
      L'objectif du <strong>BORDEAUX Java User Group</strong> est de permettre à des acteurs et utilisateurs du langage Java
      (professionnels, communautés open source, universitaires, étudiants) de
      <strong>se rencontrer et d'échanger autour des technologies Java.</strong>
    </p>

    <h2>Prochaines soirées </h2>

    <div *ngFor="let meeting of upcomings">
      <app-meeting-detail [meeting]=meeting></app-meeting-detail>
    </div>

    <hr/>

  </div>
  <div class="Sponsor">

    <div *ngFor="let sponsor of sponsors">
      <a href="{{sponsor.url}}" target="_blank"><img width="160" src="{{sponsor.image}}" alt={{sponsor.name}}></a>
      <br/><br/>
    </div>
  </div>
</div>